@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.carousel {
  @apply flex flex-col-reverse;
}

.carousel .control-dots {
  @apply static !important;
}

.carousel .control-dots .dot {
  @apply w-[10px] h-[10px] bg-[#D9D9D9] rounded-full !important;
}

.carousel .control-dots .dot.selected {
  @apply bg-[#475467] !important;
}
